.app{
    display: flex;
    justify-content: center;
}
.container{
    box-sizing: border-box;
    width:60vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin:100px auto;
    flex-direction: row;
    flex-wrap: wrap;
  }